<body class="nation_background">

<h2 class="header"><%= @nation.name %></h2>

<table class="table">
  <tr>
    <th>Athlete</th>
    <th>Medals</th>
  </tr>
  <tr>
    <% athletes = @nation.athlete() %>
    <% athletes.each do |athlete| %>
    <td><a class="href" href="/athletes/<%= athlete.id %>"><%= athlete.name %></a></td>
    <% if athlete.medal != nil %>
      <td><div class="medal_<%= athlete.medal %>"></td>
    <% end %>
  </tr>
  <% end %>
</table>

<form action ='/nations/<%= @nation.id %>/delete' method='post'>
  <input class="show" type="submit" value ="Disqulaify this Nation">
</form>