<body class="athlete_background">

<h2 class="header">Athletes</h2>

<div>

  <a class="href" id="add_athlete" href="/athletes/new">Add an Athlete</a>

  <table class="table">
    <tr>
      <th>Nation</th>
      <th>Athlete</th>
      <th>Event</th>
      <th>Result</th>
      <th>Medal</th>
    </tr>
    <% @athletes.each do |athlete| %>
    <tr>
      <td><div class="nation_href_<%= athlete.nation.first.name%>" id="athlete_nation"></div></td>
      <td><%= athlete.name %></td>
      <td><%= athlete.event.first.name %></td> 
      <td><%= athlete.event_time %></td>
      <td><div class="medal_<%= athlete.medal %>"></div></td>

      <td><a class="href" href="/athletes/<%= athlete.id %>">Inspect this Athlete</a></td>
      <td><a class="href" href="/athletes/<%= athlete.id %>/edit">Edit this Athlete</a></td>
    </tr>
    <% end %>
  </table>

</div>