<h2 class="event_header">Events</h2>

<div>

  <a class="event_href" id="add_event" href="/events/new">Add an Event</a>

  <table class="event_table">
    <tr>
      <th>Event</th>
      <th>Gold Medalist</th>
      <th>Silver Medalist</th>
      <th>Bronze Medalist</th>
      <th>Number of Participants</th>
    </tr>
    <% @events.each do |event| %>    
    <tr>
      <td><%= event.name %></td>
      <% if event.athletes.count > 2  %>
      <% event.assign_medals_event %>
      <td><%= event.gold_medalist['athlete'].name %></td>
      <td><%= event.silver_medalist['athlete'].name %></td>
      <td><%= event.bronze_medalist['athlete'].name %></td>
      <% else %>
      <td></td>
      <td></td>
      <td></td>
      <% end %>
      <td><%= event.athletes.count %></td>
    
    <td><a class="event_href" href="/events/<%= event.id %>">Inspect this Event</a></td>
    <td><a class="event_href" href="/events/<%= event.id %>/edit">Edit this Event</a></td>
    </tr>
    <% end %>
  </table>

  </div>