<body class="event_background">

<h2 class="event_header"><%= @event.name %></h2>

<div class="event_div"><table class="event_table">
  <tr>
    <th>Athlete</th>
    <th>Result</th>
    <th>Nation</th>
    <th>Medal</th>
  </tr>
  <tr>
    <% athletes = @event.athletes %>
    <% athletes.each do |athlete| %>
    <td><a class="athlete_href" href="/athletes/<%= athlete.id %>"><%= athlete.name %></a></td>
    <td><%= athlete.event_time %></td>
    <td><a class="nation_href" href="/athletes/<%= athlete.nation.first.id %>"><%= athlete.nation.first.name %></a></td>
    <% if athlete.medal != nil %>
      <td><%= athlete.medal %></td>
    <% end %>
  </tr>
    <% end %>
</table>
</div>

<div>
<form class="event_delete_button" action ='/events/<%= @event.id %>/delete' method='post'>
  <input type="submit" value ="Delete this Event">
</form>
</div>