<h2><%= @event.name %></h2>

<table>
  <tr>
    <th>Athlete</th>
    <th>Result</th>
    <th>Nation</th>
    <th>Medal</th>
  </tr>
  <tr>
    <% athletes = @event.athletes %>
    <% athletes.each do |athlete| %>
    <td><a href="/athletes/<%= athlete.id %>"><%= athlete.name %></a></td>
    <td><%= athlete.event_time %></td>
    <td><a href="/athletes/<%= athlete.nation.first.id %>"><%= athlete.nation.first.name %></a></td>
    <% if athlete.medal != nil %>
      <td><%= athlete.medal %></td>
    <% end %>
  </tr>
    <% end %>
</table>

<form action ='/events/<%= @event.id %>/delete' method='post'>
  <input type="submit" value ="Delete this Event">
</form>