<body class="event_background">

<h2 class="header"><%= @event.name %></h2>

<div class="event_div"><table class="table">
  <tr>
    <th>Athlete</th>
    <th>Result</th>
    <th>Nation</th>
    <th>Medal</th>
  </tr>
  <tr>
    <% athletes = @event.athletes %>
    <% athletes.each do |athlete| %>
    <td><a class="href" href="/athletes/<%= athlete.id %>"><%= athlete.name %></a></td>
    <td><%= athlete.event_time %></td>
    <td><a class="nation_href_<%= athlete.nation.first.name%>" id="nation_href" href="/athletes/<%= athlete.nation.first.id %>"></a></td>
    <% if athlete.medal != nil %>
      <td><%= athlete.medal %></td>
    <% end %>
  </tr>
    <% end %>
</table>
</div>

<div>
<form  action ='/events/<%= @event.id %>/delete' method='post'>
  <input class="submit" type="submit" value ="Remove this Event">
</form>
</div>